name: Build, Test and Analyze

on:
  workflow_dispatch:
  workflow_call:

jobs:
  buildtestandanalyze:
    name: Build, Test and Analyze
    runs-on: ubuntu-latest
    timeout-minutes: 120
    permissions: # needed for CodeQL steps
      security-events: write
      packages: read
      actions: read
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.0
      - name: Initialize CodeQL # CodeQL init should happen before project build!
        uses: github/codeql-action/init@v3
        with:
          languages: java-kotlin
          build-mode: manual
      - name: Set up JDK 17
        uses: actions/setup-java@v3.13.0
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: gradle
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      - name: decode and write google service json
        env: 
            GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}
        run: echo $GOOGLE_SERVICES_JSON | base64 --decode >./app/google-services.json
      # TODO: Add step to inject secrets.xml at ./modules/account/src/main/res/values/secrets.xml
      - name: Build and test
        run: ./gradlew build
      - name: Perform CodeQL Analysis # CodeQL analysis needs project build!
        uses: github/codeql-action/analyze@v3
        with:
          category: "/language:java-kotlin"
      # TODO: remove threshold once changes have been unit tested
      - name: Upload JaCoCo report to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: '**/build/reports/jacoco/jacocoCoverageReport/jacocoCoverageReport.xml'
          flags: unittests
          name: codecov-coverage
          token: ${{ secrets.CODECOV_TOKEN }}
          threshold: 20%
