name: Pull Request

on:
  pull_request:
    branches: [ "main" ]

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  detekt:
    name: Detekt review
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.0
        with:
          fetch-depth: 1
          ref: ${{ github.head_ref }}
      - name: Detekt PR Check
        uses: alaegin/Detekt-Action@v1.23.6
        with:
          reviewdog_reporter: github-pr-check
          github_token: ${{ secrets.github_token }}
          fail_on_error: true
          detekt_config: internal/detekt-config.yml

  buildtestanalyze:
    name: Build, test and analyze
    runs-on: ubuntu-latest
    timeout-minutes: 120
    permissions: # needed for CodeQL steps
      security-events: write
      packages: read
      actions: read
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.0
      - name: Initialize CodeQL # CodeQL init should happen before project build!
        uses: github/codeql-action/init@v3
        with:
          languages: java-kotlin
          build-mode: manual
      - name: Set up JDK 17
        uses: actions/setup-java@v3.13.0
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: gradle
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      - name: Build and test
        run: ./gradlew build
      - name: Perform CodeQL Analysis # CodeQL analysis needs project build!
        uses: github/codeql-action/analyze@v3
        with:
          category: "/language:java-kotlin"
      - name: Archive production artifacts
        uses: actions/upload-artifact@v2
        with:
          name: app
          path: app/build/outputs/apk/
