#
# This source file is part of the Stanford Spezi open-source project
#
# SPDX-FileCopyrightText: 2024 Stanford University
#
# SPDX-License-Identifier: MIT
#

name: Main

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: main
  cancel-in-progress: false

jobs:
  # buildtestandanalyze:
  #   uses: ./.github/workflows/build-test-analyze.yml
  #   secrets: inherit
  googleplayinternal:
    name: Upload App to Google Play - Internal
    runs-on: ubuntu-latest
    # needs: buildtestandanalyze
    environment: internal
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v3.13.0
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: gradle
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'
          bundler-cache: true
      - name: Decode and Write Google Service JSON
        env:
            GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}
        run: echo $GOOGLE_SERVICES_JSON | base64 --decode >./app/google-services.json
      - name: Setup keystore file
        env:
          KEY_STORE: ${{ secrets.KEY_STORE }}
        run: |
          echo $KEY_STORE | base64 -d > keystore.jks
          echo $KEY_STORE | base64 -d > app/keystore.jks
      - name: Build and Deploy
        env:
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          SERVICE_ACCOUNT_JSON_KEY: ${{ secrets.SERVICE_ACCOUNT_JSON_KEY }}
        run: bundle exec fastlane beta
